/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/uploads
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
lanal-biak.zip
lanal-biak1.0sql
/.fleet
/.idea
/.vscode
